html, body, .wrapper {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	min-width:300px;
}
/*------------------------- INFO BAR ---------------------*/
.icons {
	float:right;
}
.iconicon {
	display:none;
	background-image:url('images/menu.png');
	height:40px;
	width:40px;
	background-size: cover;
}
.iconicon:hover {
	background-image:url('images/menu2.png');
}
.info-bar {
	width:100%;
	min-width:300px;
	margin:0;
	padding:10px 0px;
	background-color:#161715;
}
.icon {
	float:right;
	margin-top:8px;
	height:40px;
	width:40px;
	background-size:cover;
	margin-right:10px;
}
#facebook {
	background-image: url('images/facebook2.png');
}
#email {
	background-image: url('images/email2.png');
}
#phone {
	background-image: url('images/phone2.png');
}
#linkedin {
	background-image: url('images/linkedin2.png');
}
#facebook:hover {
	background-image: url('images/facebook3.png');
}
#email:hover {
	background-image: url('images/email3.png');
}
#phone:hover {
	background-image: url('images/phone3.png');
}
#linkedin:hover {
	background-image: url('images/linkedin3.png');
}

/*------------------------- MAIN NAV ---------------------*/
nav {
	min-width:300px;
}
nav ul {
	padding:15px 0px;
	margin:0 10px;
	float:left;
}
nav ul li {
	list-style-type: none;
	float:left;
	margin-left:20px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}
nav ul a li {
	color:white;
}
nav ul a li:hover {
	color:#67a0e1;
}
#about {
	margin-top:50%;
}
.sticky {
	position:fixed;
	top:0;
}

/*------------------------- PARALLAX EFFECT ---------------------*/
section.module:last-child {
  margin-bottom: 0;
}
section.module h3 {
  margin-bottom: 40px;
  font-family: 'Open Sans', serif;
  font-size: 20px;
}
.container {
	width:90%;
	max-width:1000px;
	margin:auto;
	font-family:'Open Sans', sans-serif;
}
section.module p {
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 15px;
}
section.module.parallax {
  height: 450px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Playfair Display SC', serif;
  margin-top:0;
  padding-top:30%;
}
section.module.parallax h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Open Sans', serif;
  margin-top:0;
  padding-top:30%;
}
section.module.parallax-1 {
  background-image: url('images/top_background.jpg');
}
section.module.parallax-2 {
  background-image: url('images/top_background.jpg');
}
section.module.parallax-3 {
  background-image: url('images/top_background.jpg');
}

/*-----------------------      FOOTER      -------------------*/
footer {
	vertical-align: baseline;
	background-color:#161715;
	padding-bottom:8px;
	border-top:4px solid black;
	border-bottom:4px solid black;
}

/*----------------------- RESPONSIVE SIZING -------------------*/
.half, .third {
	margin-top:25px;
}
.bottom {
	height:0px;
	clear:both;
}

/*------------------------- MEDIA QUERIES ---------------------*/
@media all and (min-width: 630px) {
  section.module h3 {
    font-size: 25px;
  }
  section.module p {
    font-size: 16px;
  }
  section.module.parallax h1 {
    font-size: 40px;
    padding-top:20%;
  }
  section.module.parallax h2 {
    font-size: 30px;
    padding-top:20%;
  }
  #about {
  	margin-top:20%;
  }
  .whole {
	width:100%;
	clear:both;
	}
	.half {
		width:48%;
		margin-top:0px;
	}
	.left {
		float:left;
	}
	.right {
		float:right;
	}
  	.third {
  		width:28%;
  		margin-left:2%;
  		margin-right:2%;
		margin-top:0px;
  	}
}
@media all and (min-width: 960px) {
  section.module.parallax h2 {
    font-size: 30px;
    padding-top:15%;
  }
  section.module.parallax h1 {
    font-size: 40px;
    padding-top:15%;
  }
  #about {
  	margin-top:10%;
  }
}
@media all and (max-width: 630px) {
	#iconicon {
		display:block;
		height:40px;
		width:40px;
		float:right;
		margin-right:10px;
	}
	.hidden-menu {
		width:215px;
		clear:both;
		background-color:#161715;
		text-align: center;
		height:315px;
		position:absolute;
		right:0;
		top:60px;
	}
	nav, .icons {display:none;}

	.menu-2>ul{
		max-width:215px;
		margin:0px;
		padding:0px;
		padding-bottom:10px;
	}
	.menu-2>ul>a li{
		display:block;
		list-style-type: none;
		margin-left:0px;
		width:215px;
		font-family: 'Open Sans', sans-serif;
		font-size:20px;
		color:white;
		height:20px;
		padding:20px 0px;
	}
	.menu-2>ul>a {
		text-decoration: none;
	}
	.menu-2>ul>a>li:hover {
		color:#67a0e1;
	}
}